<div class="item">

    <div>Avatar URL</div>
      <div>
        <input 
          type="url"
          name="avatar_url"
          placeholder="http//"
          value= "{{ teacher.avatar_url }}"  
        >
      </div>
    </div>

    <div class="item">
      <div>Complet name</div>
      <div>
        <input 
          type="text"
          name="name"
          placeholder="Teacher's name" 
          value= "{{ teacher.name }}" 
          >
      </div>
    </div>

    <div class="item">
      <div>Date of birth</div>
      <div>
        <input 
          type="date"
          name="birth"
          value= "{{ teacher.birth }}"
        >  
      </div>
    </div>

    <div class="item">
      <div>Educational level</div>
      <div>
        <span>
          <select name="educational_level">
            <option
              value="value"
              disabled="disabled"
              selected="select"> 
              select an option 
            </option>

            <option value="Complete high school" 
              {% if teacher.educational_level == "Complete high school" %}
                selected
              {% endif %}
              >
              Complete high school
            </option>

            <option value="Complete higher education"
              {% if teacher.educational_level == "Complete higher education" %}
                selected
              {% endif %}
              >
              Complete higher education
            </option>

            <option value="Master's"
              {% if teacher.educational_level == "Master's" %}
                selected
              {% endif %}
              >
              Master's
            </option>

            <option value="Doctorate degree"
              {% if teacher.educational_level == "Doctorate degree" %}
                selected
              {% endif %}
              >
              Doctorate degree
            </option>
          </select>
        </span>
      </div>
    </div> 

    <div class="item">
      <div>Type of class</div>
      
      <div>

        <span> 
          <input 
            type="radio" 
            name="class_type" 
            value="Classroom Lesson"
            {% if teacher.class_type == "Classroom Lesson" %}
             checked
            {% endif %}
          > Classroom Lesson
        </span>

        <span> 
          <input 
            type="radio" 
            name="class_type" 
            value="Distance Class"
            {% if teacher.class_type == "Distance Class" %}
              checked
            {% endif %}
          > Distance Class 
        </span>

      </div>

    </div>

    <div class="item">
      <div>Accompaniment in class</div>
      <div>
        <input 
          type="text" 
          name="occupation_areas"
          placeholder="information of the subjects that the teacher can teach"
          value= "{{ teacher.occupation_areas }}"
        >
      </div>
    

    <button type="submit">Save</button> 

</div>