{% extends "layout.njk" %}


{% block content %}

  <div class="main">

    <h1>Private Teacher Service</h1>

    <section>

      <a href="/teachers/create">Be a New Teacher</a>
      <a href="/students/create">Be a New Student</a>
      
    </section>

  </div>

 


{% endblock content %}