{% extends "layout.njk" %}


{% block content %}

  <div class="card table-container">

    <div class="header">

      <a class="button" href="/teachers/create">New</a>

      <form action="/teachers" method="GET">

        <input
          type="text"
          name="filter"
          placeholder="Name or Service"
          value={{filter}}
        >
        <button type="submit">Filter</button>
        
      </form>

    </div>

    

    <table width="100%">

      <thead>

        <th>Complet Name</th>
        <th>Subjects</th>
        <th>Students</th>
        <th>Profile</th> 

      </thead>

      <tbody>

        {% for teacher in teachers %}

        <tr>
          
          <td>
            <span style="background-image: url({{teacher.avatar_url}})"></span>
            {{teacher.name}}
          </td>
          <td>{{teacher.occupation_areas}}</td>
          <td>{{teacher.total_students}}
          <td> <a href="/teachers/{{teacher.id}}"> Details </a></td>

        </tr>

        {% endfor %}

      </tbody>

    </table>

    <div class="pagination"
      data-page={{pagination.page}}
      data-total={{pagination.total}}
      data-filter={{filter}}
    ></div>

  </div>


{% endblock content %}